<div class="page-footer">
    <div class="page-footer-inner">
        2015 &copy; EventBd by Noor Khan.
    </div>
    <div class="scroll-to-top">
        <i class="icon-arrow-up"></i>
    </div>
</div>
