        <div class="page-sidebar-wrapper">

            <div class="page-sidebar navbar-collapse collapse">
                {{ knp_menu_render('CoreBundle:Builder:mainMenu', {'ancestorClass': 'active', 'currentClass': 'active', 'template': 'CoreBundle:Menu:knp_menu.html.twig'}) }}

            </div>
        </div>
        <!-- END SIDEBAR -->

