<a  class="top-cart-info-count">{{ quantityPrice['quantity'] }}</a> &nbsp items
<a  class="top-cart-info-value">$ <span class="top-cart-info-valuee">{{ quantityPrice['price'] }}</span></a>
<i class="fa fa-shopping-cart"></i>